.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    min-width: 350px;
    min-height: 456px;
    transform: translate(-50%, -50%);
    border-radius: 1%;
    background: transparent;
    z-index: 100;
}

.bgd-1 {    
    max-height: 100vh;
    z-index: 11;
    content: url(../../assets/images/Capture.png);
}

.bgd-2 {
    max-height: 100vh;
    z-index: 11;
    content: url(../../assets/images/Capture2.png);
}


.flex-container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bgd-main {
    background-color: #1b1a1ae8;
}

img {
    width: 300px;
}

div.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    justify-content: center;
    display: flex;
}

input {
    background: transparent;
    color: #259e66;
    text-align: center;
    border: aliceblue;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px  rgba(69, 149, 67, 0.6), 0 0 8px rgba(102,175,233,.6);
}

button {
    background-color: #549324db;
    min-width: 100%;
    color: #fff;
}

button:hover, button:focus{
    color: #fff;
    background-color: #549324db;
    min-width: 100%;
}

.deloitte-logo{
    position: absolute;
    top: 25px;
    left: 40px;
    background: transparent;
}

div.deloitte-logo img {
    width: 200px;
}