<div class="bgd-main">
  <div class="deloitte-logo">
      <div><span><img src="../assets/images/deloitte_logo.svg" alt="Deloitte ." /></span></div>
      <div class="menu"><div class="userName"> {{userName}}</div>
      <div class="logout" (click)="logOut()">Logout <i class="material-icons">
        exit_to_app
        </i></div>
      </div>
  </div>
  <div class="flex-container">
      <div class="bgd-1">
      </div>
      <div class="bgd-2">
      </div>
  </div>
  <form [formGroup]="selectionForm">
  <div class="login-form">
     <div class="row1">
        <label class="lblDesign2" for="cars">Choose Front-end language:</label>

        <select id="frontend" class="form-control" formControlName = "frontend">
          <option value="ANGULAR">Angular</option>
          <option value="ReactJS">ReactJS</option>

        </select>
      </div>
      <div class="row1" >
        <label class="lblDesign2" for="cars">Choose Back-end language:</label>

        <select id="backend" class="form-control" formControlName = "backend">
          <option value="JAVA">Java</option>
          <option value="Python">Python</option>

        </select>
      </div>
      <div class="row1">
        <label class="lblDesign2" for="cars">Database:</label>

        <select id="database" class="form-control" formControlName = "database">
          <option value="MONGO">MongoDB</option>
          <option value="Cassandra">Cassandra</option>

        </select>
      </div>

      <div class="row1">
          <button mat-button  [disabled]=disableSubmitBtn (click)="saveData()" >
              Generate URLs</button>
      </div>
      <div *ngIf="disableSubmitBtn" class="data">
        <br><label class="lblDesign2" for="cars">Repository Details</label>
        <br><label class="lblDesign2" for="cars">FrontEndUrl: {{repoFrontEndUrl}}</label>
        <br><label class="lblDesign2" for="cars">ServiceEndUrl: {{repoBackEndUrl}}</label>
        <mat-checkbox *ngIf="checkInStatus==='C'" (change)="changeCheck($event)">Use the above URL's for final submit</mat-checkbox>
        <label class ="lblDesign2" *ngIf="checkInStatus==='S'" >Final submission of Code is completed</label>
        <br><button [disabled]="disabledAgreement" class="finalBtn" mat-button (click)="submitData()">
        Submit</button>
        <!-- <button  class="finalBtn" mat-button (click)="submitData()" >
        Submit</button> -->
      </div>
  </div>
   </form>
</div>
